* {
	list-style: none;
	margin:  0;
	padding: 0;
}

body {
	background-color: #ccc;
	font-family: sans-serif;
	color:  #666;
	text-align: center;
}

.container {
	padding: 30px;
	margin: 30px auto;	
	background-color: #fff;
	width: 800px;
}

.list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.list li {
	margin: 5px;
}

.youtube-player {
	width: auto;
}

.main-thumbnail {
	width: 500px;
	height: auto;
	cursor: pointer;
}

.thumbnail {
	cursor: pointer;
}
